<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- https://sosohanya.tistory.com/31 참고 -->
	<include resource="org/springframework/boot/logging/logback/base.xml"/>
	<logger name="com.meta" level="debug"/>
  <logger name="org.springframework.jdbc" level="DEBUG" />
    <logger name="jdbc.sqlonly" level="debug" />
	<logger name="jdbc.sqltiming" level="off" />
	<logger name="jdbc.audit" level="off" />
	<logger name="jdbc.resultset" level="off" />
	<logger name="jdbc.resultsettable" level="debug" />
	<logger name="jdbc.connection" level="off" />
</configuration>