<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meta.book.mapper.BookMapper">
	<!-- 1. 책 리스트 보기 -->
	<select id="list" resultType="com.meta.book.vo.BookVO">
		SELECT book_no,title,author,publisher,TO_CHAR(pubdate,'YYYY-MM-DD') as pubdate, description, price, image, cate_no
		from book
	</select>

	<!-- 2. 책 1개 디테일 정보 보기 -->
	<select id="detailBookInfo" resultType="com.meta.book.vo.BookVO">
		SELECT book_no,title,author,publisher,TO_CHAR(pubdate,'YYYY-MM-DD') as pubdate, description, price, image, th_image, cate_no
		from book
		where book_no = #{book_no}
	</select>

	<!-- 3. 책 정보 지우기 -->
	<delete id="delete" parameterType="com.meta.book.vo.BookVO">
  		<![CDATA[
			delete from book
			where book_no = #{book_no}
		]]>
  </delete>

	<!-- 4. 책 정보 수정하기 -->
	<update id="update" parameterType="com.meta.book.vo.BookVO">
		<![CDATA[
			update book
			set title = #{title},
				author = #{author},
				publisher = #{publisher},
				pubdate = to_date(#{pubdate}, 'YYYY-MM-DD'),
				price = #{price},
				description = #{description},
				image = #{image},
			    th_image = #{th_image},
			    cate_no = #{cate_no}
			where book_no = #{book_no}
		]]>
	</update>

	<!-- 5. 책 정보 등록하기 -->
	<insert id="insert" parameterType="com.meta.book.vo.BookVO">
		<![CDATA[
		insert into book (book_no, title, author, publisher, pubdate, description, image, price, cate_no, th_image)
		values (seq_book_no.nextval, #{title}, #{author}, #{publisher}, sysdate, #{description}, #{image}, #{price}, #{cate_no}, #{th_image})
		]]>
	</insert>

	<!-- 6. 카테고리 정보 가져오기 -->
	<select id="cateList" resultType="com.meta.book.vo.CateVO">
		<![CDATA[
			select *
			from category
		]]>
	</select>
	
	
	<!-- 민기 작성,메인페이지의 카테고리 별 책리스트 select -->	
	<select id="selectBookList" resultType="com.meta.book.vo.BookVO">
		SELECT book_no,title,author,publisher,TO_CHAR(pubdate,'YYYY-MM-DD') as pubdate, description, price, image, cate_no
		FROM book
		WHERE cate_no=#{cate_no}
		ORDER BY book_no
	</select>
</mapper>