<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meta.book.mapper.BookMapper">
	<!-- 1.북 리스트 보기 -->
	<select id="list" resultType="com.meta.book.vo.BookVO">
		SELECT book_no,title,author,publisher,pubDate,description,price,cate_no
		from book
	</select>

	<delete id="delete" parameterType="com.meta.book.vo.BookVO">
  	<![CDATA[
		delete from
			(SELECT * FROM guestbook WHERE NO = #{no} )
			 where password = #{password}
		]]>
  </delete>

</mapper>