<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meta.order.mapper.OrderMapper">
	<insert id="insertOrder">
		INSERT INTO orders (order_no, m_no, receiver_email,
		receiver_zipcode,
		receiver_roadAddress,
		receiver_otherAddress,receiver_phone,receiver_name,order_count,order_price,
		order_date,status_code
		)
		VALUES (CONCAT(CONCAT(
		to_char(sysdate,'yyyymmdd'),'-'),orders_seq.nextval),#{m_no},#{receiver_email},#{receiver_zipcode},#{receiver_roadAddress},#{receiver_otherAddress},#{receiver_phone},#{receiver_name},#{order_count},#{order_price},sysdate,100)


		<selectKey keyProperty="order_no"
			resultType="java.lang.String" order="AFTER">
			SELECT
			(CONCAT(CONCAT(to_char(sysdate,'yyyymmdd'),'-'),orders_seq.currval))
			FROM dual
		</selectKey>

	</insert>

	<insert id="insertOrderItem">

		INSERT INTO order_items (order_no, book_no, order_qt,
		total_price)
		VALUES (#{order_no}, #{book_no},#{order_qt},
		#{total_price})

	</insert>
	
	<update id="setOrderCount">
		UPDATE orders SET order_count=#{order_count} where order_no=#{order_no}
	</update>

	<select id="getOrderList" resultType="com.meta.order.vo.OrderVO">
		SELECT order_no, m_no,
		receiver_email,
		receiver_zipcode,
		receiver_roadAddress,
		receiver_otherAddress,receiver_phone,receiver_name,order_count,order_price,
		to_char(order_date,'yyyy/mm/dd') order_date,order_status.status_code ,
		order_status.status
		FROM orders,order_status
		WHERE m_no=#{m_no}
		AND
		orders.STATUS_CODE = order_status.STATUS_CODE
	</select>
	<select id="getOrderInfo" resultType="com.meta.order.vo.OrderVO">
		SELECT order_no, m_no, msg,
		receiver_email,
		receiver_zipcode,
		receiver_roadAddress,
		receiver_otherAddress,receiver_phone,receiver_name,order_count,order_price,
		to_char(order_date,'yyyy/mm/dd') order_date,status_code
		FROM orders
		WHERE order_no=#{order_no}
	</select>

	<select id="getOrderItems"
		resultType="com.meta.order.vo.OrderItemsVO">
		SELECT order_items.*, title,author,image,price FROM
		order_items, book
		WHERE order_items.book_no = book.book_no AND
		order_no=#{order_no}
	</select>
	
	<update id="updateOrderInfo">
		UPDATE orders SET receiver_email=#{receiver_email},
		receiver_zipcode=#{receiver_zipcode},
		receiver_roadAddress=#{receiver_roadAddress},
		receiver_otherAddress=#{receiver_otherAddress},receiver_phone=#{receiver_phone},receiver_name=#{receiver_name},
		msg=#{msg}
		WHERE order_no=#{order_no}
	</update>
	<delete id="deleteOrder">
		DELETE FROM orders WHERE order_no=#{order_no}
	</delete>

	<!-- 관리자 -->
	<!-- 1. Order List 가져오기 -->
	<select id="orderList" resultType="com.meta.order.vo.OrderVO">
		<![CDATA[
			select rownum,
			       order_no,
			       msg,
			       receiver_email,
			       receiver_zipcode,
			       receiver_roadaddress,
			       receiver_otheraddress,
			       receiver_phone,
			       receiver_name,
			       to_char(order_date, 'YYYY-MM-DD') as order_date,
			       order_count,
			       order_price,
			       os.status
			from orders o, order_status os
			where o.status_code = os.status_code
		]]>
	</select>

	<!-- 2. Order 1개 데이터 가져오기 -->
	<select id="getOneOrderInfo" resultType="com.meta.order.vo.OrderVO">
		<![CDATA[
			SELECT o.order_no, o.m_no, o.msg,
				   o.receiver_email,
				   o.receiver_zipcode,
				   o.receiver_roadAddress,
				   o.receiver_otherAddress,
			       o.receiver_phone,
			       o.receiver_name,
			       o.order_count,
			       o.order_price,
				   to_char(o.order_date,'yyyy/mm/dd') order_date,
			       o.status_code,
			       os.status
			FROM orders o, ORDER_STATUS os
			WHERE order_no=#{order_no}
			AND o.STATUS_CODE = os.STATUS_CODE
		]]>
	</select>

	<!-- 3. Status 정보 가져오기 -->
	<select id="getOrderStatusInfo" resultType="com.meta.order.vo.OrderStatusVO">
		<![CDATA[
			select * from order_status
		]]>
	</select>

	<!-- 4. order 정보 주소 수정 및 배송상태 변경 기능 -->
	<update id="updateOrderAdmin">
		<![CDATA[
			UPDATE orders
			SET receiver_zipcode=#{receiver_zipcode},
				receiver_roadAddress=#{receiver_roadAddress},
				receiver_otherAddress=#{receiver_otherAddress},
			    status_code = #{status_code}
			WHERE order_no=#{order_no}
		]]>
	</update>

</mapper>
