<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>include</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <img class="header__logo" src="images/meta-logo.png" alt="logo">
        <div class="header__center">
            <h1>Meta BookStore</h1>
            <div class="header__center-search">
            <input type="text" name="search">
            <input type="submit">
            </div>
        </div>
        <div class="header__buttons">
            <button type="button" class="btn btn-primary">로그인</button>
            <button type="button" class="btn btn-primary">회원가입</button>
        </div>
    </header>

    <div class="line"></div>
    <content>
            <ul>
                <li>category1</li>
                <li>category2</li>
                <li>category3</li>
                <li>category4</li>
                <li>category5</li>
                <li>category6</li>
            </ul>

        <main>

        </main>

    </content>
    <footer>
            <span >Copyright 2022 Meta BookStore All rights reserved</span>
        </div>
    </section>
    </footer>
    
</body>
</html>


